.cursor{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  contain: layout style size;
  pointer-events: none;
  --scale: 1;

  &.media-blend{
    z-index: 100;
    mix-blend-mode: exclusion;
    .cursor-media{
      filter: invert(1);
    }
  }

  &.show-reel-blend{
    z-index: 100;
    mix-blend-mode: exclusion;
    &:before{
      background-color: white;
    }
  }

  &:before{
    content: "";
    --radius: 4px;
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    top: calc(-1 * var(--radius));
    left: calc(-1 * var(--radius));
    position: absolute;
    background: black;
    display: block;
    border-radius: 50%;
    transform: scale(var(--scale));
    transition-duration: 300ms;
  }

  .cursor-media{
    display: block;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 100%;
    transform: scale(0);
    margin: -175px 0 0 -175px;

    video{
      height: 350px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }
  }
}